/* src/components/ComingSoon.css */
.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  background-size: cover; /* Ensures the background image covers the whole area */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}

.coming-soon-header {
  margin-bottom: 20px;
}

.coming-soon-header h1 {
  font-size: 10em;
  margin: 0;
  color: white; /* Adjust color for better contrast */
}

.coming-soon-header p {
  font-size: 2.5em;
  margin: 10px;
  color: white; /* Adjust color for better contrast */
}

.coming-soon-main {
  margin-bottom: 30px;
}

.coming-soon-main p {
  font-size: 3.2em;
  color: white; /* Adjust color for better contrast */
}

.countdown {
  margin-top: 20px;
}

.countdown p {
  font-size: 2.2em;
  color: white; /* Adjust color for better contrast */
}

.coming-soon-footer {
  font-size: 0.9em;
  color: white; /* Adjust color for better contrast */
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  .coming-soon-header h1 {
    font-size: 8em;
  }

  .coming-soon-header p {
    font-size: 2em;
  }

  .coming-soon-main p {
    font-size: 2.5em;
  }

  .countdown p {
    font-size: 2em;
  }
}

@media (max-width: 992px) {
  .coming-soon-header h1 {
    font-size: 6em;
  }

  .coming-soon-header p {
    font-size: 1.8em;
  }

  .coming-soon-main p {
    font-size: 2em;
  }

  .countdown p {
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  .coming-soon-header h1 {
    font-size: 4em;
  }

  .coming-soon-header p {
    font-size: 1.5em;
  }

  .coming-soon-main p {
    font-size: 1.5em;
  }

  .countdown p {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .coming-soon-header h1 {
    font-size: 3em;
  }

  .coming-soon-header p {
    font-size: 1.2em;
  }

  .coming-soon-main p {
    font-size: 1.2em;
  }

  .countdown p {
    font-size: 1.2em;
  }

  .coming-soon-footer {
    font-size: 0.8em;
  }
}
